<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--当前XML的命名空间-->
<mapper namespace="com.lml.mybatis.xml.mapper.CountryMapper">

    <!--config.xml配置别名之后，此处只要Country，等同于 com.lml.mybatis.xml.model.Country-->
    <select id="selectAll" resultType="Country">
      select id,country_name, country_code from country
    </select>

    <select id="selectById" resultType="Country" parameterType="Long">
        select * from country WHERE id = #{id}
    </select>
</mapper>