<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <!--指定日志输出-->
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <!--别名配置-->
    <typeAliases>
        <package name="com.lml.mybatis.xml.model"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/lml?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
<!--        <mapper resource="com/lml/mybatis/xml/mapper/CountryMapper.xml"/>-->
        <mapper resource="com.lml.mybatis.xml.mapper/CountryMapper.xml"/>
    </mappers>
</configuration>